* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    height: 100px;
    width: 100px;
}

button span {
    display: block;
    font-size: 20px;
}

#basicaap {
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 50px;
}

button {
    margin-right: 30px;
    border-radius: 10px;
    border: 5px solid;
}

body {
    background-image: url('/img/jungleachtergrond.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
    font-weight: bold;
}

#hongerbar, #verdachtbar {
width: 100%;
max-width: 600px;
height: 30px;
background-color: #ddd;
border-radius: 15px;
overflow: hidden;
border: 2px solid #333;
}

#honger, #verdacht {
    height: 100%;
    transition: width 0.5s;
}

#honger{
background-color: #e29b17;
}

#verdacht {
background-color: #21af14;
}